<%= form_for @track, url: {action: "update"} do |f| %>
  <table class="table">
    <tbody class="fields">
      
      <%= f.fields_for :urls do |builder| %>
        <%= render 'urls/form', f: builder %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_url('Add a link', f, :urls, class: ' btn btn-outline-light float-right') %>
  <%= f.submit class: 'btn btn-block btn-primary'  %>
<% end %>

