<tr>
  <td><%= f.text_field :name, label: false, class: 'form-control col', placeholder: 'Track name' %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Delete', '#', class: 'remove_record text-danger float-right' %>
  </td>
</tr>

