<table class="table">
  <tbody>
    <tr>
      <td><%= link_to track.name, track_path(track) %></td>
      <td>
        <%= action_button('Edit', edit_track_path(track)) %>
        <%= delete_button('Delete', track) %>
      </td>
    </tr>
  </tbody>
</table>

