<div class="container">
  <h1><%=  @track.name %></h1>
  <div class="jumbotron">
    <div class="row"> 
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-7 text-center">
            <%= image_tag url_for(@track.album.large) %>
          </div>
          <div class="col-md-5">
            <h4>Listen on:</h4>

            <% @track.urls.each do |url| %>
              <% cache url do %>
                <%= display_track_link(url.link) %>
              <% end %>
            <% end %>

          </div>
        </div>

        <% if user_signed_in? && current_user.admin == true %>
          <%= render 'tracks/form_add_link', cached: true %>
        <% end %>

      </div>
    </div>
  </div>
