<div class="container text-center">
	<div class="row justify-content-center">	
		<div class="col-10 col-sm-4"> 	

			<h2>Sign up</h2>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>

				<div class="field form-row">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
				</div>

				<div class="field form-row">
					<%= f.label :password %>
					<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
				</div>

				<div class="field form-row">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
				</div>

				<div class="actions mt-3">
					<%= f.submit "Sign up", class: 'btn btn-block btn-outline-primary' %>
				</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
