<tr>
  <td><%= f.text_field :link, label: false, class: 'form-control', placeholder: 'Link' %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Delete', '#', class: 'remove_record text-danger float-right' %>
  </td>
</tr>