<div class="form-row mt-5">
  <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Demo title' %>
  </div>

  <div class="col-md-6">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control', placeholder: '<iframe width="..." height="..." src="https://www...."' %>
  </div>

  <%= f.submit class: "btn btn-block btn-outline-primary mt-3" %>
</div>

