<!-- DEMO: <%= demo.name.capitalize %> hoverable image -->
<div class="col-lg-4 col-md-4 col-sm-5 col-12 artwork-container">
  <div class="d-flex flex-wrap align-items-center filter w-100 h-100 <%= demo.class.to_s.downcase %>">
    <%= image_tag demo.video_thumbnail, class: "img-fluid pb-3 mx-auto center-block" %>
    <div class="middle">
      <div class="text">

        <%= link_to nil, 'data-toggle' => 'modal', 'data-target' => "##{demo.name.downcase.gsub(' ', '-')}Modal" do %>
          <i class="far fa-eye"></i>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- ====> <%= demo.name.capitalize %> modal -->
<div class="modal fade" id="<%= demo.name.downcase.gsub(' ', '-') %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= demo.name.downcase %> video" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body embed-responsive embed-responsive-16by9" id="<%= demo.name.downcase.gsub(' ', '-') %>Video">
        <%= demo.url.html_safe %>
      </div>
    </div>
  </div>
</div>

