<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<a class="d-block" data-toggle="modal" data-target="#exampleModal">
  <%= image_tag demo.mosaic, class: "d-block mb-4 h-100 rounded-0" %>
</a>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="<%= demo.name.downcase %> video" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <%= demo.url.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
