<div class="container">
  <div class="row">
    <h1 class="text-center text-lg-left d-inline-block">Sound design demos</h1>
    <div class="d-inline-block float-right">
      <%= action_button('Add a new demo', new_demo_path) %>
    </div>

    <div class="row text-center text-lg-left pt-5">
      <% @demos.each do |demo| %>
        <% cache demo do %>
          <%= render partial: 'demos/hoverable_demo', locals: {demo: demo}, cached: true %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
