<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5">
          <%= render partial: 'demos/hoverable_demo', locals: {demo: @demo}, cached: true %>
        </div>
        <div class="col-md-7 pl-5">
          <h3><%= @demo.name %></h3>
        </div>
    </div>
  </div>
</div>
