<div class="card mb-3 card-band">
  <%# ghostproduction.image, class: "card-img-top" %>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <%= image_tag ghostproduction.video_thumbnail, class: "img-fluid pb-3 mx-auto center-block" %>
      </div>
      <div class="col">
        <h5 class="card-title"><%= link_to ghostproduction.name, ghostproduction_path(ghostproduction) %></h5>
        <p class="card-text"><%= truncate(ghostproduction.description, length: 50, separator: ' ') %></p>
        <p class="card-text d-inline-block"><small class="text-muted"><%= ghostproduction.created_at.strftime("%Y, %B %d") %></small></p>
        <%= link_to 'More details', ghostproduction_path(ghostproduction), method: :get, class: "btn btn-outline-info float-right d-inline-block" %>
      </div>    
    </div>
  </div>
</div>
