<div class="container">
  <h1 class="text-lg-left d-inline-block">Band production</h1>
  <div class="d-inline-block float-right">
    <%= action_button('Add a new ghostproduction', new_ghostproduction_path) %>
  </div>

  <div class="container">
    <% @ghostproductions.each do |ghostproduction| %>
      <% cache ghostproduction do %>
        <%= render partial: 'ghostproductions/ghostproduction_preview', locals: {ghostproduction: ghostproduction}, cached: true %>
      <% end %>
    <% end %>
  </div>

</div>
