<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

    <h2 class="text-center">Add a new band production demo</h2>

    <%= form_for @ghostproduction, url: {action: "create"} do |f| %>
      <%= render 'shared/form_errors', f: f %>
      <%= render 'ghostproductions/form_new', f: f, cached: true %>
    <% end %>

    </div>
  </div>
</div>

