<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5">
          <%= @ghostproduction.name %>
          <%= @ghostproduction.description %>
        </div>
      </div>
    </div>
  </div>
</div>

