//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 40%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$pink:                  #ffebf3;
$cyan:                  #ccfcff;
$red:                   #fc7f7f;

$brand-primary:         darken($pink, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$primary: $pink;
$info: $cyan;
$waring: $red;



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
//$body-bg:               rgb(35, 35, 37) !default;
$body-color:              $gray-lighter;
$body-bg:               rgb(35, 35, 37) !default;


//** Components border radius
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-size-base: 1.0rem;



//== Modals
//
//##

//** Background color of modal content area
$modal-content-bg:                             #fff0 !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0, 0, 0, 0) !default;
//** Modal backdrop background color
$modal-backdrop-bg:                            rgb(0, 0, 0) !default;


$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;


$jumbotron-bg:                   #353b40 !default;
