<div class="col form-group">
  <table class="table">
    <tbody class="fields">
      <% f.fields_for :tracks do |builder| %>
        <%= render 'tracks/form', f: builder, cached: true %>
      <% end %>
    </tbody>
  </table>
</div>
