<div class="form-row mt-5">
  <div class="col-md-6">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Album title' %>
  </div>

  <div class="col-md-6">
    <%= f.label :release_date %>
    <%= f.date_field :release_date, class: 'form-control' %>
  </div>
</div>

<div class="custom-file mt-3">
  <%= f.label :album_artwork, class: "custom-file-label" %>
  <%= f.file_field :album_artwork, class: 'custom-file-input' %>
</div>

<!-- Add track -->
<h2 class="text-center pt-5">Add tracks</h2>
<table class="table">
  <tbody class="fields">
    <% f.fields_for :tracks do |builder| %>
      <%= render 'tracks/form_new', f: builder %>
    <% end %>
  </tbody>
</table>

<%= link_to_add_track('Add a track', f, :tracks, class: ' btn btn-outline-info float-right mb-3') %>

<div class="mt-5">
  <%= f.submit class: 'btn btn-block btn-outline-primary'  %>
</div>
