<!-- ALBUM: <%= album.name %> hoverable image -->
<div class="col-lg-4 col-md-4 col-sm-5 col-12 artwork-container">
  <%= image_tag album.large, class: "image img-fluid pb-2 filter #{album.class.to_s.downcase}" %>
  <div class="middle">
    <div class="text">

      <%= link_to album_path(album) do %>
        <i class="far fa-eye pr-2"></i><% end %>
      
      <%= link_to nil do %>
        <i class="fas fa-volume-up"></i>
      <% end %>
      
    </div>
  </div>
</div>
