<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Edit <%= @album.name %></h1>
      <h3>Artwork</h3>
      <div class="col text-center">
        <%= image_tag @album.large %>
      </div>

      <%= form_for @album, url: {action: 'update'}, method: :put do |f| %>
        <div class="col-md offset-4 form-group">
          <%= f.file_field :album_artwork, class: 'form-control-file' %>
        </div>

        <h3>Title</h3>
        <div class="col form-group">
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <h2 class="text-center">Tracks</h2>
        <table class="table">
          <tbody class="fields">
          <%= f.fields_for :tracks do |builder| %>
            <% render 'tracks/form', f: builder %>
          <% end %>
          </tbody>
        </table>
        
        <%= link_to_add_track('Add a track', f, :tracks, class: ' btn btn-outline-info float-right') %>

        <%= f.submit %>
      <% end %>

    </div>
  </div>
</div>