<div class="container pt-5">
  <h1 class="mb-5 text-lg-left d-inline-block">Music</h1>
  <div class="d-inline-block float-right">
    <%= action_button('Add new album', new_album_path) %>
  </div>
  <div class="ml-5 mb-5">
    <h2>Latest release</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <%= link_to album_path(@albums.last) do %>
          <%= image_tag @albums.last.large, class: "img-fluid" %>
        <% end %>
      </div>
      <div class="col-8">
        <h3><%= link_to @albums.last.name, album_path(@albums.last) %></h3>
        <%= action_link('Edit ', edit_album_path(@albums.last)) %> - 
        <%= delete_link('Delete ', @albums.last) %>

        <p><%= pluralize(@albums.last.tracks.size, 'track') %></p>
        <%= render 'tracks/track_table', collection: @albums.last.tracks, as: 'track', cached: true %>
      </div>
    </div>
  </div>

  <!-- <div class="scrolling-wrapper">
    <div class="right-arrow"></div>
    <div class="horizontal-scroll">
    <div class="horizontal-img-container">
    <% @albums.each do |album| %>
      <% cache album do %>
        <div class="box">
        <%= image_tag album.large, class:'img-fluid' %>
        </div>
      <% end %>
    <% end %>
    </div>
    </div>
    <div class="left-arrow"></div>
    </div> -->



    <div class="jumbotron">
      <div class="row">
        <% @albums.each do |album| %>
          <%# cache album do %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <%= link_to album_path(album) do %>
                    <%= image_tag album.large, class: "img-fluid" %>
                  <% end %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <h4><%= link_to album.name, album_path(album) %></h4>
                  <%= action_link('Edit', edit_album_path(album)) %> - 
                  <%= delete_link('Delete', album) %>
                  <p><%= pluralize(album.tracks.size, 'track') %></p>
                </div>
              </div>
            </div>
          <%# end %>
        <% end %>
      </div>
    </div>


    <%#
      <style>
.scrolling-wrapper {
  width: 100%;
  height: 100px;
  position: relative;
}

.box  {
  float: left;
  margin: 0 10px 0 0;
  width: 100px;
  display: block;
}

.horizontal-img-container {
  position: absolute;
  left: 0;
  width: <%= @albums.all.size * 110 %><%# px;
}

    .horizontal-scroll {
    width: 81%;
    height: 100%;
    position: absolute;
    left: 8%;
    margin-left: 0%;
    overflow: hidden;x
  }

    .left-arrow {

    width:40px;
    height:40px;
    background:#ff0000; 
      position:absolute;
    left:0px;
  }

    .right-arrow {

    width:40px;
    height:40px;
    background:#ff0000; 
      position:absolute;
    right:0px;
  }
  </style>

  <script>
  var view = $(".horizontal-img-container");
  var move = "110px";
  var containerElements = $('.box').length
  var sliderLimit =  containerElements * -110
  console.log(sliderLimit)

  $(".right-arrow").click(function(){

    var currentPosition = parseInt(view.css("left"));
    if (currentPosition >= sliderLimit) view.stop(false,true).animate({left:"-="+move},{ duration: 400})
      console.log(currentPosition)
  });

  $(".left-arrow").click(function(){

    var currentPosition = parseInt(view.css("left"));
    if (currentPosition < 0) view.stop(false,true).animate({left:"+="+move},{ duration: 400})
      console.log(currentPosition)
  });
  </script>
%>
