<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h2 class="text-center">Add a new album</h2>
      
      <%= form_for @album, url: {action: 'create'} do |f| %>
        <%= render 'shared/form_errors', f: f %>
        <%= render 'albums/form_new', f: f %>
      <% end %>
      
    </div>
  </div>
</div>