<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag url_for(@album.large), class: "img-fluid" %>
          <h1></h1><%= pluralize(@album.tracks.count, 'track') if @album.tracks.any? %></h1>
        </div>
        <div class="col-md-7 pl-5">
          <h3><%= @album.name %></h3>
          <table class="table">
            <% @album.tracks.each do |track| %>
              <% cache track do %>
                <tr>
                  <td>
                    <%= link_to track.name, track_path(track) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
    </div>
    
    <%= action_button('Edit', edit_album_path(@album)) %>
    <%= delete_button('Delete', @album) %>

  </div>
</div>
