<!-- Video background -->
<%= video_tag "bg_video_1920_1080.mp4", autoplay: true, loop: true, mute: true, class: "home-video" %>
<div class="caption">
  <h1>Manel Bach Ramires</h1>
</div>

<!-- Content -->
<div class="home-content">
  <div class="container">
    <!-- Title -->
    <h1 class="pt-5 mb-5">Portfolio</h1>
    <!-- Mosaic -->
    <div class="row">
      <div class="col-10 offset-1">
        <!-- Mosaic buttons -->
        <div class="row pb-3 pl-3">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row mb-2">
              <button class="btn btn-outline-light filter-button mr-2" data-filter="all">ALL</button>
              <button class="btn btn-outline-light filter-button mr-2" data-filter="demo">SOUND DESIGN</button>
              <button class="btn btn-outline-light filter-button mr-2" data-filter="album">MUSIC</button>
              <button class="btn btn-outline-light filter-button mr-2" data-filter="samplepack">SAMPLEPACKS</button>
            </div>
          </div>
        </div>
        <!-- Mosaic images -->
        <div class="row">
          <% @resources.sort_by(&:created_at).each do |resource| %> 
            <% cache resource do %>
              <%= display_mosaic(resource) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
