<div class="container text-center">
	<div class="row justify-content-center">
		<div class="col-10 col-sm-4">
			<h2>Log in</h2>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				
			<div class="field form-row">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
			</div>

			<div class="field form-row">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
			</div>

			<% if devise_mapping.rememberable? %>
				<div class="field form-row ml-3">
					<%= f.check_box :remember_me, class: 'form-check-input' %>
					<%= f.label :remember_me, class: 'form-check-label' %>
				</div>
			<% end %>

			<div class="actions mt-3">
				<%= f.submit "Log in", class: 'btn btn-block btn-outline-primary' %>
			</div>

			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

