.artwork-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artwork-container:hover img {
  opacity: 0.3;
}

.artwork-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  padding: 10px 10px;
}

.caption {
  position: fixed;
  bottom: 50%;
  width: 100%;
  text-align: center;
  z-index: -2;
}

.home-video {
  opacity: 0.55;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  z-index: -3;
}

.home-content {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  margin-top: 100vh;
  background-color: rgb(35, 35, 37);
}

html, body {
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  opacity: 0.7 !important;
}
