<div class="form-row mt-5">
  <div class="col-md-6">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Samplepack name" %>
  </div>

  <div class="col-md-6">
    <%= f.label :release_date %>
    <%= f.date_field :release_date, class: "form-control" %>
  </div>

  <div class="col-10">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control", placeholder: "Third party URL"%>
  </div>

  <div class="col-2">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div>
</div>

  <div class="custom-file mt-3">
    <%= f.label :album_artwork, class: "custom-file-label" %>
    <%= f.file_field :album_artwork, class: "custom-file-input" %>
  </div>

<div class="mt-5">
  <%= f.submit class: "btn btn-block btn-outline-primary" %>
</div>