<!-- SAMPLEPACK: <%= samplepack.name %> -->
<div class="col-lg-4 col-md-4 col-sm-5 col-12 artwork-container">
  <%= image_tag samplepack.large, class: "img-fluid pb-3 filter #{samplepack.class.to_s.downcase}" %>
  <div class="middle">
    <div class="text">

    <%= link_to samplepack_path(samplepack) do %>
      <i class="far fa-eye", style="padding-right: 10px;"></i><% end %>

    <%= link_to samplepack.url.html_safe do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
    
    </div>
  </div>
</div>
