<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

    <%= image_tag url_for(@samplepack.large), class: "img-fluid" %>
    
    <%= delete_button('Delete', @samplepack) %>
    
    <h2 class="text-center">Edit <%= @samplepack.name %></h2>

    <%= form_for @samplepack, url: {action: "update"} do |f| %>
      <%= render "samplepacks/form_new", f: f, cached: true %>
    <% end %>
    
    </div>
  </div>
</div>
