<div class="container pt-5">
  <h1 class="mb-5 text-lg-left d-inline-block">Samplepacks</h1>
  <div class="d-inline-block float-right">
    <%= action_button('Add a samplepack', new_samplepack_path) %>
  </div>

  <div class="row">
    <%= render 'samplepacks/hoverable_with_text', collection: @samplepack, as: samplepack, cached: true %>
  </div>
</div>
