<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
   
      <h2 class="text-center">Add a new samplepack</h2>

      <%= form_for @samplepack, url: {action: 'create'} do |f| %>
        <%= render 'shared/form_errors', f: f %>
        <%= render "samplepacks/form_new", f: f, cached: true %>
      <% end %>

    </div>
  </div>
</div>
