<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag url_for(@samplepack.large), class: "img-fluid" %>
        </div>
        <div class="col-md-7 pl-5">
          <h3><%= @samplepack.name %></h3>
          
        </div>
    </div>

    <%= link_to @samplepack.url.html_safe do %>
      <button class='btn btn-outline-primary float-right mr-6 ml-2'>Buy</button>
    <% end %>

    <%= action_button('Edit', edit_samplepack_path(@samplepack)) %>
    <%= delete_button('Delete', @samplepack) %>

  </div>
</div>
