<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to 'Manel Bach Ramires', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Band production', ghostproductions_path, class: 'nav-link' %>
      <li>

      <li class="nav-item">
          <%= link_to 'Sound design', demos_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Samplepacks', samplepacks_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Music release', albums_path, class: 'nav-link' %>
      </li>
      
      <li class="nav-item">    
        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </li>
    </ul>
		<li class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="far fa-user mr-5", style="color:white"></i>
        </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<% if current_user %>
						<%# link_to 'Profil', edit_user_registration_path, class: "dropdown-item" %>
						<%# link_to 'Cart', edit_cart_path, class: "dropdown-item" %>
						<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
					<% else %>
						<%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item" %>
						<%= link_to 'Sign in', new_user_session_path, class: "dropdown-item" %>
					<% end %>
				</div>
    </li>
  </div>
</nav>

