<!DOCTYPE html>
<html>
  <head>
    <title>Manel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/alerts' %>

    <%= yield %>
    
  </body>
</html>
